*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.fa-home {
  font-size: 25px;
  color: #fff;
  padding-right: 1rem;
}

header {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: #7fb114;
  position: relative;
}

header .right-nav {
  float: right;
  padding: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.header-home {
  float: left;
  padding: 10px;
}

.home {
  float: left;
  font-size: 16px;
  text-align: center;
}

.search-form {
  display: flex;
}

.search-form input {
  text-align: center;
}

.search-form button {
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px 15px;
  background: blue;
  color: #fff;
  text-align: center;
  border: none;
}
.navbar {
  float: left;
  padding: 10px 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.left-nav {
  display: flex;
}

.dropdown {
  float: left;

}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #7fb114;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #7fb114;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hide-menu {
  display: none;
}

.section-container {
  background-color: ;
  width: 75%;
  margin: 0 auto;
  margin-top: 5px;
 
}
.section-h1 {
  margin-bottom: 1rem;
  font-size: xx-large;
}
.section-div{
  background-color: #f9be88;
  width: 100%;
  border-radius: 10px;
  border: 2px solid goldenrod;
  padding: 2rem 2rem 3rem 2rem;
}

.section-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.section-form input{
  width: 85%;
  text-align: left;
  padding: 0.7rem;
}

.section-button {
  padding: 1rem 2rem;
  background-color: blue;
  color: white;
  border: none;
}

.section-locate {
  display: flex;
  justify-content: space-evenly;
} 



@media screen and (max-width: 600px) {
  .hide-menu, .icon {
    display: flex;
  }
}



















